<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Python & VueJS</title>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  </head>
  <body>
    <div id="app-test" class="container">
      <!-- search filters -->
      <section class="card mt-4 mb-4">
        <div class="card-body">
          <h3>Search filters <span><button class="btn btn-outline-primary btn-sm float-right" type="button" data-toggle="modal" data-target="#createModal">Add user</button></span></h3>
          <form class="clearfix" @submit.prevent="refreshSearchUsers">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="frmKeyword">Keyword</label>
                <input v-model="filters.keyword" type="text" class="form-control" id="frmKeyword" placeholder="keyword">
              </div>
              <div class="form-group col-md-6">
                <label for="frmSearchType">Search type</label>
                <select v-model="filters.search_type" class="form-control" id="frmSearchType">
                  <option :value="'name'">Name</option>
                  <option :value="'email'">Email</option>
                  <option :value="'gender'">Gender</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="frmStartAge">Start age</label>
                <input v-model="filters.start_age" type="number" step="1" class="form-control" id="frmStartAge" placeholder="start age">
              </div>
              <div class="form-group col-md-6">
                <label for="frmEndAge">End age</label>
                <input v-model="filters.end_age" type="number" step="1" class="form-control" id="frmEndAge" placeholder="end age">
              </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Search</button>
          </form>
        </div>
      </section>

      <!-- search result table -->
      <section class="card">
        <div class="card-body">
          <h3>Search results ({{ numberWithCommas(meta_users.total_data) }})</h3>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, i) in users">
                  <td>{{ (meta_users.current_page * meta_users.per_page) + (i + 1 - meta_users.per_page) }}</td>
                  <td>{{ user.firstname }}</td>
                  <td>{{ user.lastname }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.gender }}</td>
                  <td>{{ user.age }}</td>
                  <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" @click="toggleUpdateModal(user)">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                  </td>
                </tr>
                <tr v-if="users.length <= 0">
                  <td colspan="7" class="text-center">Empty user</td>
                </tr>
              </tbody>
            </table>
          </div>

          <b-pagination align="right"
            v-model="meta_users.current_page"
            @input="searchUser()"
            :total-rows="meta_users.total_data"
            :per-page="meta_users.per_page">
          </b-pagination>
        </div>
      </section>

      <!-- modal create -->
      <div id="createModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <form class="clearfix" @submit.prevent="createUser">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="frmCreateFirstName">First name</label>
                    <input v-model="frm_create.firstname" type="text" class="form-control" id="frmCreateFirstName" placeholder="First name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="frmCreateLastName">Last name</label>
                    <input v-model="frm_create.lastname" type="text" class="form-control" id="frmCreateLastName" placeholder="Last name">
                  </div>
                  <div class="form-group col">
                    <label for="frmCreateEmail">Email</label>
                    <input v-model="frm_create.email" type="email" class="form-control" id="frmCreateEmail" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="frmEndAge">Gender</label>
                    <div class="col">
                      <div class="form-check form-check-inline">
                        <input v-model="frm_create.gender" class="form-check-input" type="radio" id="frmCreateGenderMale" :value="'male'" checked>
                        <label class="form-check-label" for="frmCreateGenderMale">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input v-model="frm_create.gender" class="form-check-input" type="radio" id="frmCreateGenderFemale" :value="'female'" checked>
                        <label class="form-check-label" for="frmCreateGenderFemale">Female</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="frmCreateAge">Age</label>
                    <input v-model="frm_create.age" type="number" step="1" class="form-control" id="frmCreateAge" placeholder="age">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- modal update -->
      <div id="updateModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <form class="clearfix" @submit.prevent="updateUser">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="frmUpdateFirstName">First name</label>
                    <input v-model="frm_update.firstname" type="text" class="form-control" id="frmUpdateFirstName" placeholder="First name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="frmUpdateLastName">Last name</label>
                    <input v-model="frm_update.lastname" type="text" class="form-control" id="frmUpdateLastName" placeholder="Last name">
                  </div>
                  <div class="form-group col">
                    <label for="frmUpdateEmail">Email</label>
                    <input v-model="frm_update.email" type="email" class="form-control" id="frmUpdateEmail" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="frmEndAge">Gender</label>
                    <div class="col">
                      <div class="form-check form-check-inline">
                        <input v-model="frm_update.gender" class="form-check-input" type="radio" id="frmUpdateGenderMale" :value="'male'" checked>
                        <label class="form-check-label" for="frmUpdateGenderMale">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input v-model="frm_update.gender" class="form-check-input" type="radio" id="frmUpdateGenderFemale" :value="'female'" checked>
                        <label class="form-check-label" for="frmUpdateGenderFemale">Female</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="frmUpdateAge">Age</label>
                    <input v-model="frm_update.age" type="number" step="1" class="form-control" id="frmUpdateAge" placeholder="age">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
      let app_test = new Vue({
        el: '#app-test',
        data() {
          return {
            // api url
            api_url: 'http://localhost:5000',

            // searching
            temp_search: null,
            is_new_search: false,
            is_search_busy: false,
            filters: {
              keyword: null,
              search_type: 'name',
              start_age: null,
              end_age: null,
            },
            meta_users: {
              current_page: 1,
              per_page: 10,
              total_page: 1,
              total_data: 0,
            },

            // results data
            users: [],

            // frm create
            frm_create: {
              firstname: null,
              lastname: null,
              email: null,
              gender: 'male',
              age: null,
            },

            // frm update
            frm_update: {
              id: null,
              firstname: null,
              lastname: null,
              email: null,
              gender: 'male',
              age: null,
            },
          }
        },
        created() {
          this.refreshSearchUsers();
        },
        methods: {
          numberWithCommas(n) {
            return n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          },
          getAppHeaders(type = null, params = null) {
            let content_type = (type != null) ? type : 'application/json';

            return {
              headers: {
                'Content-Type': content_type,
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                // 'Authorization': 'Bearer ' + this.user_token,
              },
              params: (params != null) ? params : null
            };
          },
          throwErrorAPI(err) {
            console.log(err);
          },
          assignMetaPagination(meta, data) {
            meta.current_page = data.page;
            meta.per_page     = data.per_page;
            meta.total_page   = data.total_page;
            meta.total_data   = data.total_data;
          },
          searchUser() {
            if ( this.is_search_busy ) {
              return false;
            }
            this.is_search_busy = true;

            axios.get(this.api_url + '/users', this.getAppHeaders('application/json', this.querySearchUsers))
            .then((res) => {
              this.users = res.data.data;
              this.assignMetaPagination(this.meta_users, res.data.meta);

              this.is_search_busy = false;
              this.is_new_search  = false;
            })
            .catch((err) => {
              this.throwErrorAPI(err);

              this.is_search_busy = false;
              this.is_new_search  = false;
            });
          },
          refreshSearchUsers() {
            this.is_new_search = true;
            this.temp_search   = _.cloneDeep(this.searchUserForm);

            this.meta_users.current_page = 1;
            this.searchUser();
          },
          createUser() {
            axios.post(this.api_url + '/user', this.createForm, this.getAppHeaders('application/json'))
            .then((res) => {
              // alert success
              swal.fire({
                type: 'success',
                title: 'Create user success',
              })
              .then(() => {
                // reset create form
                this.frm_create.firstname = null;
                this.frm_create.lastname  = null;
                this.frm_create.email     = null;
                this.frm_create.gender    = 'male';
                this.frm_create.age       = null;

                // hide create modal
                $('#createModal').modal('hide');

                // refresh users
                this.refreshSearchUsers();
              });
            })
            .catch((err) => {
              this.throwErrorAPI(err);
            });
          },
          toggleUpdateModal(user) {
            this.frm_update.id        = user.id;
            this.frm_update.firstname = user.firstname;
            this.frm_update.lastname  = user.lastname;
            this.frm_update.email     = user.email;
            this.frm_update.gender    = user.gender;
            this.frm_update.age       = user.age;

            $('#updateModal').modal('show');
          },
          updateUser() {
            axios.put(this.api_url + '/user/' + this.frm_update.id, this.updateForm, this.getAppHeaders('application/json'))
            .then((res) => {
              // alert success
              swal.fire({
                type: 'success',
                title: 'Update user success',
              })
              .then(() => {
                // reset update form
                this.frm_update.id        = null;
                this.frm_update.firstname = null;
                this.frm_update.lastname  = null;
                this.frm_update.email     = null;
                this.frm_update.gender    = 'male';
                this.frm_update.age       = null;

                // hide update modal
                $('#updateModal').modal('hide');

                // refresh current search
                this.searchUser();
              });
            })
            .catch((err) => {
              this.throwErrorAPI(err);
            });
          },
        },
        computed: {
          querySearchUsers() {
            if ( this.is_new_search == true ) {
              return this.searchUserForm;
            } else {
              if ( this.temp_search != null ) {
                this.temp_search.page     = this.meta_users.current_page;
                this.temp_search.per_page = this.meta_users.per_page;
              }
              return this.temp_search;
            }
          },
          searchUserForm() {
            return {
              keyword: this.filters.keyword,
              search_type: this.filters.search_type,
              start_age: this.filters.start_age,
              end_age: this.filters.end_age,
              page: this.meta_users.current_page,
              per_page: this.meta_users.per_page,
            };
          },
          createForm() {
            return {
              firstname: this.frm_create.firstname,
              lastname: this.frm_create.lastname,
              email: this.frm_create.email,
              gender: this.frm_create.gender,
              age: this.frm_create.age,
            };
          },
          updateForm() {
            return {
              firstname: this.frm_update.firstname,
              lastname: this.frm_update.lastname,
              email: this.frm_update.email,
              gender: this.frm_update.gender,
              age: this.frm_update.age,
            };
          },
        }
      });
    </script>
  </body>
</html>
